In [8]:
import sklearn
import pandas as pd
import numpy as np

In [12]:
y = pd.DataFrame([1,4,10,9,6,3,1,5])
x = pd.DataFrame([54,35,94,68,22,78,99,45])

In [14]:
y

    0
0   1
1   4
2  10
3   9
4   6
5   3
6   1
7   5

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
lr = LinearRegression()

In [13]:
lr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [17]:
lr.coef_

array([[0.00426226]])

In [18]:
lr.intercept_

array([4.61127285])

In [15]:
pred = lr.predict(x)

In [16]:
lr.score(x,y)

0.0012361220486427626

In [20]:
lr.score(x,y)

0.0012361220486427626

## Titanic Dataset

In [22]:
data = pd.read_csv("train.csv")

In [24]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [26]:
data.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [27]:
data.shape

(891, 12)

In [29]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [45]:
data_final = data.drop(["Age", "Cabin", "Embarked","Sex","Name","Ticket"],axis=1)

In [36]:
x = data_final.drop(["Survived"], axis = 1)

In [38]:
y = data_final[["Survived"]]

In [39]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.10)

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [43]:
lr = LogisticRegression()
knn = KNeighborsClassifier()
nb = GaussianNB()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()

In [46]:
lr.fit(X_train,y_train)
knn.fit(X_train,y_train)
nb.fit(X_train,y_train)
dt.fit(X_train,y_train)
rf.fit(X_train,y_train)

C:\Users\PinakParitosh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'female'